<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form action="/posting" method="POST">
            제목: <input type="text" name="title"> <br>
            내용: <input type="text" name="content"> <br>
            키워드: <input type="text" name="hashtags"> <br>
            카테고리: 
            <select name="category"> 
                {% for ctgry in categories %}
                {% if ctgry == category %}
                    <option value="{{ctgry}}" selected> {{ctgry}} </option>
                {% else %}
                    <option value="{{ctgry}}"> {{ctgry}} </option>
                {% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="작성">
        </form>
    </body>
</html>