<!DOCTYPE html>
<html>
    <head>
        <script language="javascript">
            var p;
            function revise(n, reply_id, f, post_id, category){
                reply = document.getElementById("reply"+n);
                reply.innerHTML = "";
                p = document.getElementById("revisingTable"+n);
                
                var frmTag = "<form action='reply_revise' method=POST>";
                frmTag += "<input type=hidden name=reply_id value=" + reply_id + ">";
                frmTag += "<input type=hidden name=page value=" + f + ">";
                frmTag += "<input type=hidden name=post_id value=" + post_id + ">";
                frmTag += "<input type=hidden name=category value=" + category + ">";
                frmTag += "<input type=text name=content> ";
                frmTag += "<button type=submit>작성</button>";
                frmTag += "</form>";
                p.innerHTML = frmTag;
            }

            function postForm(path, params, method) {
                method = method || 'post';

                var form = document.createElement('form');
                form.setAttribute('method', method);
                form.setAttribute('action', path);

                for (var key in params) {
                    if (params.hasOwnProperty(key)) {
                        var hiddenField = document.createElement('input');
                        hiddenField.setAttribute('type', 'hidden');
                        hiddenField.setAttribute('name', key);
                        hiddenField.setAttribute('value', params[key]);
                    
                        form.appendChild(hiddenField);
                    }
                }

                document.body.appendChild(form);
                form.submit();
            }
        </script>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    제목: {{reading['title']}}<br>
                    {{reading['content']}}<br><br>
                    {{reading['ID']}}<br>
                    {{reading['time']}}<br>
                    {{reading['recommend']}}  {{reading['report']}}<br>
                </td>
            </tr>
            <tr>
                <td>
                <!-- 로그인한 ID와 글 작성자 ID가 같을 때 수정, 삭제 버튼 추가 -->
                {% set post_id = reading['id'] %}
                {% if reading['ID'] == login %}
                    <input type="submit" onclick="postForm('revise', {'post_id':'{{post_id}}', 'page':'{{page}}', 'category':'{{category}}'})" value="수정">
                    <input type="submit" onclick="postForm('delete', {'post_id':'{{post_id}}', 'page':'{{page}}', 'category':'{{category}}'})" value="삭제">
                {% endif %}

                <!-- 추천, 신고 버튼 -->
                    <input type="submit" onclick="postForm('recommend', {'post_id':'{{post_id}}', 'page':'{{page}}', 'category':'{{category}}'})" value="추천">
                    <input type="submit" onclick="postForm('report', {'post_id':'{{post_id}}', 'page':'{{page}}', 'category':'{{category}}'})" value="신고">
                </td>
            </tr>

            <tr>
                <!-- 댓글 작성 -->
                <td>
                    <form action="/reply" method="POST">
                        <input type="hidden" name="post_id" value="{{post_id}}">
                        <input type="hidden" name="page" value="{{page}}">
                        <input type="hidden" name="category" value="{{category}}">
                        <input type="text" name="content">
                        <input type="submit" value="작성">
                    </form> 
                </td>
            </tr>

            {% if reading['replys'] != -1 %}
                <!-- 댓글 출력 -->
                {% for reply in reading['replys'] %}
                <tr>
                    <td>
                        {% set reply_id = reply['_id'] %}
                        {{reply['_source']['ID']}} {{reply['_source']['time']}} {{reply['_source']['report']}}

                        <!-- 로그인한 ID와 댓글 작성자 ID가 같을 때 수정, 삭제 버튼 추가 -->
                        {% if reply['_source']['ID'] == login %}
                            <input type="submit" onclick="revise('{{loop.index}}', '{{reply_id}}', '{{page}}', '{{post_id}}', '{{category}}')" name="revise" value="수정">
                            <input type="submit" onclick="postForm('reply_delete', {'reply_id':'{{reply_id}}', 'page':'{{page}}', 'post_id':'{{post_id}}', 'category':'{{category}}'})" value="삭제">
                        {% endif %}

                        <!-- 신고 버튼 -->
                        <input type="submit" onclick="postForm('reply_report', {'reply_id':'{{reply_id}}', 'page':'{{page}}', 'post_id':'{{post_id}}', 'category':'{{category}}'})" value="신고">
                        <!-- for 수정 -->
                        <p id="reply{{loop.index}}">{{reply['_source']['content']}}</p>
                        <p id="revisingTable{{loop.index}}"></p>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}

            <tr>
                <!-- 커뮤니티로 돌아가기 -->
                <td>
                <input type="submit" onclick="window.location.href='/community?category={{category}}&page={{page}}'" value="돌아가기">
                </td>
            </tr>
        </table>
    </body>
</html>